<a href="https://colab.research.google.com/github/chrismlawr/BA780-Team4A/blob/main/DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Connecting our Google Drive to this notebook to access the dataset

In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive/Shared\ drives/BA775\ -\ Team\ 4A

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive/Shared drives/BA775 - Team 4A

----

Importing packages and loading the dataset to our notebook

In [ ]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#plt.style.use('classic')
%matplotlib inline
import seaborn as sns

In [ ]:
raw = pd.read_csv('listings.csv')

In [ ]:
raw.head()

     id  ... reviews_per_month
0  2595  ...              0.36
1  3831  ...              4.82
2  5121  ...              0.36
3  5136  ...              0.01
4  5178  ...              3.40

[5 rows x 74 columns]

In [ ]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44666 entries, 0 to 44665
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            44666 non-null  int64
 1   listing_url                                   44666 non-null  object
 2   scrape_id                                     44666 non-null  int64
 3   last_scraped                                  44666 non-null  object
 4   name                                          44650 non-null  object
 5   description                                   43385 non-null  object
 6   neighborhood_overview                         28207 non-null  object
 7   picture_url                                   44666 non-null  object
 8   host_id                                       44666 non-null  int64
 9   host_url                                      44666 non-null  object
 10  host_name                                     44649 non-null  object
 11  host_since                                    44649 non-null  object
 12  host_location                                 44524 non-null  object
 13  host_about                                    26792 non-null  object
 14  host_response_time                            21587 non-null  object
 15  host_response_rate                            21587 non-null  object
 16  host_acceptance_rate                          27801 non-null  object
 17  host_is_superhost                             44649 non-null  object
 18  host_thumbnail_url                            44649 non-null  object
 19  host_picture_url                              44649 non-null  object
 20  host_neighbourhood                            37386 non-null  object
 21  host_listings_count                           44649 non-null  float64
 22  host_total_listings_count                     44649 non-null  float64
 23  host_verifications                            44666 non-null  object
 24  host_has_profile_pic                          44649 non-null  object
 25  host_identity_verified                        44649 non-null  object
 26  neighbourhood                                 28208 non-null  object
 27  neighbourhood_cleansed                        44666 non-null  object
 28  neighbourhood_group_cleansed                  44666 non-null  object
 29  latitude                                      44666 non-null  float64
 30  longitude                                     44666 non-null  float64
 31  property_type                                 44666 non-null  object
 32  room_type                                     44666 non-null  object
 33  accommodates                                  44666 non-null  int64
 34  bathrooms                                     0 non-null      float64
 35  bathrooms_text                                44576 non-null  object
 36  bedrooms                                      40407 non-null  float64
 37  beds                                          44153 non-null  float64
 38  amenities                                     44666 non-null  object
 39  price                                         44666 non-null  object
 40  minimum_nights                                44666 non-null  int64
 41  maximum_nights                                44666 non-null  int64
 42  minimum_minimum_nights                        44660 non-null  float64
 43  maximum_minimum_nights                        44660 non-null  float64
 44  minimum_maximum_nights                        44660 non-null  float64
 45  maximum_maximum_nights                        44660 non-null  float64
 46  minimum_nights_avg_ntm                        44660 non-null  float64
 47  maximum_nights_avg_ntm                        44660 non-null  float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              44666 non-null  object
 50  availability_30                               44666 non-null  int64
 51  availability_60                               44666 non-null  int64
 52  availability_90                               44666 non-null  int64
 53  availability_365                              44666 non-null  int64
 54  calendar_last_scraped                         44666 non-null  object
 55  number_of_reviews                             44666 non-null  int64
 56  number_of_reviews_ltm                         44666 non-null  int64
 57  number_of_reviews_l30d                        44666 non-null  int64
 58  first_review                                  34149 non-null  object
 59  last_review                                   34149 non-null  object
 60  review_scores_rating                          33102 non-null  float64
 61  review_scores_accuracy                        33070 non-null  float64
 62  review_scores_cleanliness                     33083 non-null  float64
 63  review_scores_checkin                         33055 non-null  float64
 64  review_scores_communication                   33075 non-null  float64
 65  review_scores_location                        33050 non-null  float64
 66  review_scores_value                           33051 non-null  float64
 67  license                                       0 non-null      float64
 68  instant_bookable                              44666 non-null  object
 69  calculated_host_listings_count                44666 non-null  int64
 70  calculated_host_listings_count_entire_homes   44666 non-null  int64
 71  calculated_host_listings_count_private_rooms  44666 non-null  int64
 72  calculated_host_listings_count_shared_rooms   44666 non-null  int64
 73  reviews_per_month                             34149 non-null  float64
dtypes: float64(23), int64(17), object(34)
memory usage: 25.2+ MB

In [ ]:
round(raw.describe(),2)

                id  ...  reviews_per_month
count     44666.00  ...           34149.00
mean   23227109.25  ...               0.86
std    13982124.33  ...               1.27
min        2595.00  ...               0.01
25%    10555067.75  ...               0.11
50%    22266056.00  ...               0.35
75%    36239497.50  ...               1.13
max    45730924.00  ...              41.37

[8 rows x 40 columns]

## Checking for Duplicates

Checking for duplicates in this dataset is very nuanced. There may be a case where a data point could be a duplicate or could be a listing identical in description but actually different listings (e.g. a host that has two listings that are very similar that are both rentable). This means that there is some manual checking and personal judgement that may be required to determine whether or not the data row is a duplicate.

In [ ]:
raw.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [ ]:
dup = raw.duplicated(subset=['id'], keep=False)
raw[dup]

Empty DataFrame
Columns: [id, listing_url, scrape_id, last_scraped, name, description, neighborhood_overview, picture_url, host_id, host_url, host_name, host_since, host_location, host_about, host_response_time, host_response_rate, host_acceptance_rate, host_is_superhost, host_thumbnail_url, host_picture_url, host_neighbourhood, host_listings_count, host_total_listings_count, host_verifications, host_has_profile_pic, host_identity_verified, neighbourhood, neighbourhood_cleansed, neighbourhood_group_cleansed, latitude, longitude, property_type, room_type, accommodates, bathrooms, bathrooms_text, bedrooms, beds, amenities, price, minimum_nights, maximum_nights, minimum_minimum_nights, maximum_minimum_nights, minimum_maximum_nights, maximum_maximum_nights, minimum_nights_avg_ntm, maximum_nights_avg_ntm, calendar_updated, has_availability, availability_30, availability_60, availability_90, availability_365, calendar_last_scraped, number_of_reviews, number_of_reviews_ltm, number_of_reviews_l30d, first_review, last_review, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, license, instant_bookable, calculated_host_listings_count, calculated_host_listings_count_entire_homes, calculated_host_listings_count_private_rooms, calculated_host_listings_count_shared_rooms, reviews_per_month]
Index: []

It seems there are no duplicate entries in our dataset based on the ID of the listing. With that said, there may be duplicate listings under the same conditions.

In [ ]:
dup = raw.duplicated(subset=['name','latitude','longitude','host_id'], keep=False)
raw[dup].sort_values('name').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53 entries, 25597 to 257
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            53 non-null     int64
 1   listing_url                                   53 non-null     object
 2   scrape_id                                     53 non-null     int64
 3   last_scraped                                  53 non-null     object
 4   name                                          53 non-null     object
 5   description                                   53 non-null     object
 6   neighborhood_overview                         1 non-null      object
 7   picture_url                                   53 non-null     object
 8   host_id                                       53 non-null     int64
 9   host_url                                      53 non-null     object
 10  host_name                                     53 non-null     object
 11  host_since                                    53 non-null     object
 12  host_location                                 53 non-null     object
 13  host_about                                    26 non-null     object
 14  host_response_time                            53 non-null     object
 15  host_response_rate                            53 non-null     object
 16  host_acceptance_rate                          53 non-null     object
 17  host_is_superhost                             53 non-null     object
 18  host_thumbnail_url                            53 non-null     object
 19  host_picture_url                              53 non-null     object
 20  host_neighbourhood                            51 non-null     object
 21  host_listings_count                           53 non-null     float64
 22  host_total_listings_count                     53 non-null     float64
 23  host_verifications                            53 non-null     object
 24  host_has_profile_pic                          53 non-null     object
 25  host_identity_verified                        53 non-null     object
 26  neighbourhood                                 1 non-null      object
 27  neighbourhood_cleansed                        53 non-null     object
 28  neighbourhood_group_cleansed                  53 non-null     object
 29  latitude                                      53 non-null     float64
 30  longitude                                     53 non-null     float64
 31  property_type                                 53 non-null     object
 32  room_type                                     53 non-null     object
 33  accommodates                                  53 non-null     int64
 34  bathrooms                                     0 non-null      float64
 35  bathrooms_text                                53 non-null     object
 36  bedrooms                                      43 non-null     float64
 37  beds                                          53 non-null     float64
 38  amenities                                     53 non-null     object
 39  price                                         53 non-null     object
 40  minimum_nights                                53 non-null     int64
 41  maximum_nights                                53 non-null     int64
 42  minimum_minimum_nights                        53 non-null     float64
 43  maximum_minimum_nights                        53 non-null     float64
 44  minimum_maximum_nights                        53 non-null     float64
 45  maximum_maximum_nights                        53 non-null     float64
 46  minimum_nights_avg_ntm                        53 non-null     float64
 47  maximum_nights_avg_ntm                        53 non-null     float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              53 non-null     object
 50  availability_30                               53 non-null     int64
 51  availability_60                               53 non-null     int64
 52  availability_90                               53 non-null     int64
 53  availability_365                              53 non-null     int64
 54  calendar_last_scraped                         53 non-null     object
 55  number_of_reviews                             53 non-null     int64
 56  number_of_reviews_ltm                         53 non-null     int64
 57  number_of_reviews_l30d                        53 non-null     int64
 58  first_review                                  38 non-null     object
 59  last_review                                   38 non-null     object
 60  review_scores_rating                          38 non-null     float64
 61  review_scores_accuracy                        38 non-null     float64
 62  review_scores_cleanliness                     38 non-null     float64
 63  review_scores_checkin                         38 non-null     float64
 64  review_scores_communication                   38 non-null     float64
 65  review_scores_location                        38 non-null     float64
 66  review_scores_value                           38 non-null     float64
 67  license                                       0 non-null      float64
 68  instant_bookable                              53 non-null     object
 69  calculated_host_listings_count                53 non-null     int64
 70  calculated_host_listings_count_entire_homes   53 non-null     int64
 71  calculated_host_listings_count_private_rooms  53 non-null     int64
 72  calculated_host_listings_count_shared_rooms   53 non-null     int64
 73  reviews_per_month                             38 non-null     float64
dtypes: float64(23), int64(17), object(34)
memory usage: 31.1+ KB

As seen above, there do seem to be a number of duplicates based on the listing name, location, and host. The question is now whether or not we should deal with these duplicates.

The issue is these duplicate rows may be...


*   errors (e.g. host creates a new listing and forgets to delete the old one)
*   intentional (e.g. a hotel lists 10 identical but different rooms)
*   or both (e.g. [host creates duplicate of single listing to increase listing exposure](https://www.reddit.com/r/AirBnB/comments/3w9uo7/duplicate_listings/))

Ultimately, since there are no data input / scrape errors (shown by unique listing IDs), we will not tamper with these 'duplicates'.

##Dropping columns

Since we're utilizing a dataset scraped from AirBnB's website, our new dataset contains a lot more variables than our first dataset from Kaggle, where it seems like the author in Kaggle had already cleaned and excluded irrelevant columns.

We will now do the same with the variables in this dataset that we won't be using for this project. Most of the columns we will drop relates to the host, web scraping, and listing information that are unlikely to effect price (e.g. host url, scrape id, host location, etc.)

In [ ]:
cols_to_drop = ['host_url','calendar_updated','listing_url','scrape_id','last_scraped','neighborhood_overview','picture_url','host_name','host_since','host_response_time','host_location','host_about','host_thumbnail_url','host_picture_url','host_neighbourhood','host_listings_count','host_verifications','neighbourhood','bathrooms','calendar_last_scraped','first_review','last_review','license','calculated_host_listings_count','calculated_host_listings_count_entire_homes','calculated_host_listings_count_private_rooms','calculated_host_listings_count_shared_rooms']

In [ ]:
clean_droppedcols = raw.drop(columns=cols_to_drop)

In [ ]:
clean_droppedcols.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44666 entries, 0 to 44665
Data columns (total 47 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            44666 non-null  int64
 1   name                          44650 non-null  object
 2   description                   43385 non-null  object
 3   host_id                       44666 non-null  int64
 4   host_response_rate            21587 non-null  object
 5   host_acceptance_rate          27801 non-null  object
 6   host_is_superhost             44649 non-null  object
 7   host_total_listings_count     44649 non-null  float64
 8   host_has_profile_pic          44649 non-null  object
 9   host_identity_verified        44649 non-null  object
 10  neighbourhood_cleansed        44666 non-null  object
 11  neighbourhood_group_cleansed  44666 non-null  object
 12  latitude                      44666 non-null  float64
 13  longitude                     44666 non-null  float64
 14  property_type                 44666 non-null  object
 15  room_type                     44666 non-null  object
 16  accommodates                  44666 non-null  int64
 17  bathrooms_text                44576 non-null  object
 18  bedrooms                      40407 non-null  float64
 19  beds                          44153 non-null  float64
 20  amenities                     44666 non-null  object
 21  price                         44666 non-null  object
 22  minimum_nights                44666 non-null  int64
 23  maximum_nights                44666 non-null  int64
 24  minimum_minimum_nights        44660 non-null  float64
 25  maximum_minimum_nights        44660 non-null  float64
 26  minimum_maximum_nights        44660 non-null  float64
 27  maximum_maximum_nights        44660 non-null  float64
 28  minimum_nights_avg_ntm        44660 non-null  float64
 29  maximum_nights_avg_ntm        44660 non-null  float64
 30  has_availability              44666 non-null  object
 31  availability_30               44666 non-null  int64
 32  availability_60               44666 non-null  int64
 33  availability_90               44666 non-null  int64
 34  availability_365              44666 non-null  int64
 35  number_of_reviews             44666 non-null  int64
 36  number_of_reviews_ltm         44666 non-null  int64
 37  number_of_reviews_l30d        44666 non-null  int64
 38  review_scores_rating          33102 non-null  float64
 39  review_scores_accuracy        33070 non-null  float64
 40  review_scores_cleanliness     33083 non-null  float64
 41  review_scores_checkin         33055 non-null  float64
 42  review_scores_communication   33075 non-null  float64
 43  review_scores_location        33050 non-null  float64
 44  review_scores_value           33051 non-null  float64
 45  instant_bookable              44666 non-null  object
 46  reviews_per_month             34149 non-null  float64
dtypes: float64(19), int64(12), object(16)
memory usage: 16.0+ MB

##Adding an *Amenities_Count* column

With amenities of a listing listed, it might be interesting to see if the amount of amenities could affect the listing's price

In [ ]:
clean_droppedcols['amenities'][0]

'["Hot water", "Stove", "Extra pillows and blankets", "Smoke alarm", "Laptop-friendly workspace", "Coffee maker", "Bed linens", "Dishes and silverware", "Oven", "Wifi", "Air conditioning", "Paid parking off premises", "Baking sheet", "Fire extinguisher", "Free street parking", "Essentials", "Heating", "Kitchen", "Carbon monoxide alarm", "Cooking basics", "Refrigerator", "Hair dryer", "Hangers", "Keypad", "Bathtub", "Ethernet connection", "TV", "Iron", "Cleaning before checkout", "Long term stays allowed", "Luggage dropoff allowed"]'

In [ ]:
len(clean_droppedcols['amenities'][0].strip("][").split('", "'))

31

In [ ]:
amenities_count = []
for i in range(len(clean_droppedcols['amenities'])):
    count = len(clean_droppedcols['amenities'][i].strip("][").split('", "'))
    amenities_count.append(count)

In [ ]:
clean_droppedcols['amenities_count'] = amenities_count

In [ ]:
clean_droppedcols['amenities_count'][0]

31

## Fixing *price* variable (and other object vars)

When taking a closer look at the price of the listings, it seems that the data type is a string with dollar signs afixed to the front and commas seperating thousands. We need to convert this into a float so we can run analysis on it later on.

In [ ]:
data = clean_droppedcols

In [ ]:
type(data['price'][0])

str

In [ ]:
data['price'] = [float(data['price'][i].strip('$').strip(',').replace(',','')) for i in range(len(data['price']))]

In [ ]:
# note the change in type
type(data['price'][0])

numpy.float64

In [ ]:
raw['price'].describe()

count       44666
unique       1163
top       $100.00
freq         1633
Name: price, dtype: object

In [ ]:
# data['price'].describe()

In [ ]:
# plt.figure(figsize=(30, 6))
# sns.boxplot('price',data=data, whis=1.5)

In [ ]:
data['bathrooms_text'].unique()

array(['1 bath', nan, '1.5 baths', '1 shared bath', '1 private bath',
       'Shared half-bath', '2 baths', '3.5 baths', '1.5 shared baths',
       '2.5 baths', '3 baths', 'Half-bath', '2 shared baths',
       '0 shared baths', '0 baths', '5 baths', 'Private half-bath',
       '4.5 baths', '5.5 baths', '2.5 shared baths', '15.5 baths',
       '6 baths', '4 baths', '3 shared baths', '8 shared baths',
       '4 shared baths', '3.5 shared baths', '6 shared baths',
       '6.5 shared baths', '6.5 baths', '5 shared baths',
       '4.5 shared baths', '7.5 baths', '5.5 shared baths', '7 baths',
       '8 baths'], dtype=object)

## Dealing with null variables

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44666 entries, 0 to 44665
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            44666 non-null  int64
 1   name                          44650 non-null  object
 2   description                   43385 non-null  object
 3   host_id                       44666 non-null  int64
 4   host_response_rate            21587 non-null  object
 5   host_acceptance_rate          27801 non-null  object
 6   host_is_superhost             44649 non-null  object
 7   host_total_listings_count     44649 non-null  float64
 8   host_has_profile_pic          44649 non-null  object
 9   host_identity_verified        44649 non-null  object
 10  neighbourhood_cleansed        44666 non-null  object
 11  neighbourhood_group_cleansed  44666 non-null  object
 12  latitude                      44666 non-null  float64
 13  longitude                     44666 non-null  float64
 14  property_type                 44666 non-null  object
 15  room_type                     44666 non-null  object
 16  accommodates                  44666 non-null  int64
 17  bathrooms_text                44576 non-null  object
 18  bedrooms                      40407 non-null  float64
 19  beds                          44153 non-null  float64
 20  amenities                     44666 non-null  object
 21  price                         44666 non-null  float64
 22  minimum_nights                44666 non-null  int64
 23  maximum_nights                44666 non-null  int64
 24  minimum_minimum_nights        44660 non-null  float64
 25  maximum_minimum_nights        44660 non-null  float64
 26  minimum_maximum_nights        44660 non-null  float64
 27  maximum_maximum_nights        44660 non-null  float64
 28  minimum_nights_avg_ntm        44660 non-null  float64
 29  maximum_nights_avg_ntm        44660 non-null  float64
 30  has_availability              44666 non-null  object
 31  availability_30               44666 non-null  int64
 32  availability_60               44666 non-null  int64
 33  availability_90               44666 non-null  int64
 34  availability_365              44666 non-null  int64
 35  number_of_reviews             44666 non-null  int64
 36  number_of_reviews_ltm         44666 non-null  int64
 37  number_of_reviews_l30d        44666 non-null  int64
 38  review_scores_rating          33102 non-null  float64
 39  review_scores_accuracy        33070 non-null  float64
 40  review_scores_cleanliness     33083 non-null  float64
 41  review_scores_checkin         33055 non-null  float64
 42  review_scores_communication   33075 non-null  float64
 43  review_scores_location        33050 non-null  float64
 44  review_scores_value           33051 non-null  float64
 45  instant_bookable              44666 non-null  object
 46  reviews_per_month             34149 non-null  float64
 47  amenities_count               44666 non-null  int64
dtypes: float64(20), int64(13), object(15)
memory usage: 16.4+ MB

Taking a look at the information on our dataset, the first existance of null values is seen in the names and description columns.

In [ ]:
data[data['description'].isna()][['price','number_of_reviews']].head(7)

      price  number_of_reviews
2201  390.0                  1
2232  171.0                 30
2568  220.0                  2
2930  200.0                 28
2932  300.0                  0
3235   40.0                  2
3802   30.0                  0

In [ ]:
data[data['name'].isna()][['price','number_of_reviews']].head(7)

      price  number_of_reviews
2270  400.0                  0
2930  200.0                 28
4613  225.0                  1
4767  215.0                  5
5009  150.0                  0
5246   70.0                  0
5277   40.0                  0

Considering the fact that this project does not plan to use *description* or *name* in our exploration, it may be worth to leave the columns as is for the moment (perhaps even dropping it entirely later on).

### Null values related to host

The next few columns with null values pertain to the host, specifically their interaction with customers.

In [ ]:
data[data['host_response_rate'].isna()][['price','reviews_per_month']].head()

    price  reviews_per_month
2    60.0               0.36
5    75.0               0.87
8    85.0               0.89
15   86.0                NaN
17   55.0               1.27

In [ ]:
data[data['host_acceptance_rate'].isna()][['price','reviews_per_month']].head()

    price  reviews_per_month
3   175.0               0.01
5    75.0               0.87
15   86.0                NaN
26  120.0               0.09
44  250.0               0.10

The queries above show that despite null values, the listings do seem to be active.

Information on the [AirBnB page](https://www.airbnb.com/help/article/430/what-are-response-rate-and-response-time-and-how-are-they-calculated) show that these values are based on the last 30 days, so if the host has not interacted with customers for the past month, they will have null values. For this project, we will fill the null values with the mean values.

### host_response_rate

In [ ]:
data['host_response_rate'].fillna('-1%',inplace=True)

In [ ]:
data['host_response_rate'] = [int(data['host_response_rate'][i].strip('%')) for i in range(len(data['host_response_rate']))]

In [ ]:
# # filter = data['host_response_rate'] >= 0
# mean_host_resp_rate = data[filter]['host_response_rate'].mean()
# data['host_response_rate'].replace({-1:mean_host_resp_rate})


### host_acceptance_rate

In [ ]:
data['host_acceptance_rate'].fillna('-1%',inplace=True)

In [ ]:
data['host_acceptance_rate'] = [int(data['host_acceptance_rate'][i].strip('%')) for i in range(len(data['host_acceptance_rate']))]

In [ ]:
# filter = data['host_acceptance_rate'] >= 0
# mean_host_acc_rate = data[filter]['host_acceptance_rate'].mean()
# data['host_acceptance_rate'].replace({-1:mean_host_acc_rate})

## Code for Export

In [ ]:
data.to_csv('cleaned_listings.csv', index=False)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44666 entries, 0 to 44665
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            44666 non-null  int64
 1   name                          44650 non-null  object
 2   description                   43385 non-null  object
 3   host_id                       44666 non-null  int64
 4   host_response_rate            44666 non-null  int64
 5   host_acceptance_rate          44666 non-null  int64
 6   host_is_superhost             44649 non-null  object
 7   host_total_listings_count     44649 non-null  float64
 8   host_has_profile_pic          44649 non-null  object
 9   host_identity_verified        44649 non-null  object
 10  neighbourhood_cleansed        44666 non-null  object
 11  neighbourhood_group_cleansed  44666 non-null  object
 12  latitude                      44666 non-null  float64
 13  longitude                     44666 non-null  float64
 14  property_type                 44666 non-null  object
 15  room_type                     44666 non-null  object
 16  accommodates                  44666 non-null  int64
 17  bathrooms_text                44576 non-null  object
 18  bedrooms                      40407 non-null  float64
 19  beds                          44153 non-null  float64
 20  amenities                     44666 non-null  object
 21  price                         44666 non-null  float64
 22  minimum_nights                44666 non-null  int64
 23  maximum_nights                44666 non-null  int64
 24  minimum_minimum_nights        44660 non-null  float64
 25  maximum_minimum_nights        44660 non-null  float64
 26  minimum_maximum_nights        44660 non-null  float64
 27  maximum_maximum_nights        44660 non-null  float64
 28  minimum_nights_avg_ntm        44660 non-null  float64
 29  maximum_nights_avg_ntm        44660 non-null  float64
 30  has_availability              44666 non-null  object
 31  availability_30               44666 non-null  int64
 32  availability_60               44666 non-null  int64
 33  availability_90               44666 non-null  int64
 34  availability_365              44666 non-null  int64
 35  number_of_reviews             44666 non-null  int64
 36  number_of_reviews_ltm         44666 non-null  int64
 37  number_of_reviews_l30d        44666 non-null  int64
 38  review_scores_rating          33102 non-null  float64
 39  review_scores_accuracy        33070 non-null  float64
 40  review_scores_cleanliness     33083 non-null  float64
 41  review_scores_checkin         33055 non-null  float64
 42  review_scores_communication   33075 non-null  float64
 43  review_scores_location        33050 non-null  float64
 44  review_scores_value           33051 non-null  float64
 45  instant_bookable              44666 non-null  object
 46  reviews_per_month             34149 non-null  float64
 47  amenities_count               44666 non-null  int64
dtypes: float64(20), int64(15), object(13)
memory usage: 16.4+ MB